<%=@tree.name%>

<div class="jumbotron glass center">
<h1><font color="white">Blood Orange</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Moro</h2>
      <p>Blood orange that is medium-large in size with deep pigmentation, juicy with pleasant flavor. Holds well to the tree and ships and stores well. Fruit is developed in clusters. Distinctive aroma develops with advanced maturity. Tree is vigorous, spreading with rounded top and produces very well.</p>
      <p> <input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Sanguinelli</h2>
      <p>Blood orange that is large sized with external pigmentation as well as internal. Internal pigmentation is purplish-red in color, excellent flavor and juicy. Holds well to the tree, ships and stores well. Harvested February to April. Tree is small to medium in size, leaves are light green and it is productive.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Tarocco Blood</h2>
      <p>Medium to large sized fruit that has few to no seeds. The flesh colors a nice blood color and flavor is outstanding if picked late in January. Flavor is sweet with a nice balance of acidity. Tree is vigorous with an open form.</p>
      <p><input value="1" class="itemQuantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
