<div class="jumbotron glass center">
<h1><font color="white">HARRIS PARTNERSHIP CITRUS NURSERY</font></h1>
</div>
<div class="jumbotron opaque">
  <p>is a family owned business

  started in 1985 by Paul and Rebecca Harris.

  Paul’s family farming exposure began in the early 1920’s. His father had a vegetable farm – every variety in its season that kept his farm hands busy. He also started Strawberry starters. Paul assisted his Grandpa Hunter who had a citrus grove by hoeing around the trees for manual weed control. Paul’s father built a school to provide an education opportunity for the families of his farm hands. They had to build a bridge “Lily Bridge” to provide a shorter access to the main road to take the produce to the market. The farm was self-sufficient with cows for milk, which in turn provided yogurt, butter, buttermilk; chickens for eggs and food, pigs. Paul is continuing his life as a farmer after a hiatus of over 30 years. He started his own citrus groves and currently has a citrus nursery.

  One wood framed, plastic covered greenhouse holding 20,000 – 4 inch citrus pots growing the mainstay citrus varieties of citrus industry at the time on Sour Orange rootstock, on wooden tables built to specification to accommodate optimum use of the space needed to grow a quality potted tree. Our plans were to replant the one grove we had as the trees needed to be replaced. Other grove owners saw the product, needed the trees, thus started the expansion into bigger houses, MODERN metal framework, sunscreen, anti-virus shade cloth, fans, and timed microjet irrigation systems in order to provide our current clientele a quality potted citrus tree.

  From the cold ARCTIC where Becky grew up making snowpies to the TROPICS of Florida, Paul taught me the techniques of growing a quality citrus tree, that is COLD HARDY because it is grown by an ESKIMIO.

  Our daughter Ruth Nowland joined our business in 2001 as our Office Manager, now she is learning the ropes of growing a quality citrus tree.</p>
 </p>
</div>
