<div class="jumbotron opaque">
  <div class="row">
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h1 class="item_name">Moro</h1>
      <p> <input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h1 class="item_name">Sanguinelli</h1>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h1 class="item_name">Tarocco Blood</h1>
      <p><input value="1" class="itemQuantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>

