<div class="jumbotron glass center">
<h1><font color="white">Cart Contents</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
  <h3><div class="simpleCart_items"></div></h3>
  </div>
  <div class="simpleCart_total"></div>
  <div class="simpleCart_quantity"></div>
  <div class="simpleCart_grandTotal"></div>
</div>
