<div class="jumbotron glass center">
  <h1><font color="white">Citron</font></h1>
</div>
<div class="jumbotron opaque">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Buddha's Hand</h2>
      <p>Harvested: Considered everbearing. The "fingered" citron has a very unusual shape and the peel is very aromatic. The tree is sensitive to frost and must be protected.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
</div>