
 <div class="jumbotron glass center">
  <div class="container-fluid">
    <font color="white">
    <h1>Harris Citrus Nursery</h1>
    </font>
  </div>
 </div>
  <div class="jumbotron opaque">
  <div class="container-fluid"> 
    <div class="center"> 
    <h2>Where citrus comes alive</h2>
    </div>
      <div class="row">
        <div class="col-md-4">
          <h3>Members</h3>
          <p>The USDA now allows our nursery to ship out of state. Please contact us "here" for details</p>
        </div>
        <div class="col-md-4">
          <h3>Trees</h3>
          <p>Please feel free to start browsing our tress "here"</p>
        </div>
        <div class="col-md-4">
          <h3>About Us<h3>
          <p>Cold hardy trees from the eskimos! Learn more about our history "here"</p>
        </div>
      </div>
   </div>
  </div>