

<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>

</div>

 <div class="jumbotron glass center strokeme">
  <div class="container-fluid">

    <font color="white">
    <h1>Harris Citrus Nursery</h1>
    </font>
  </div>
 </div>


 <div class="jumbotron opaque">
  <div class="container-fluid">
    <div class="center">
    <h2>Where citrus comes alive</h2>
    </div>
      <br><div class="row">
        <div class="col-md-4">
          <h3>Members</h3>
          <p>The USDA now allows our nursery to ship out of state. Please review our <%= link_to "shipping information", shiprate_path %> for details</p>
        </div>
        <div class="col-md-4">
          <h3>Trees</h3>
          <p>Hosting one of the largest varieties of citrus trees! Click to view our <%= link_to "catalog", categories_path %></p>
        </div>
        <div class="col-md-4">
          <h3>About Us<h3>
          <p>Cold hardy trees from the Harris'! 30 years of buisness, learn more about our <%= link_to "history", about_path %> </p>
        </div>
      </div>
      <br><div class="center">
      <p>Harris Citrus 10721 HWY 39 South - Lithia, FL 33547 Phone: (813)684-1654</p>
      <p><%= link_to "Google Maps", "https://www.google.com/maps/preview?f=q&hl=en&q=Harris+Citrus+10721+HWY+39+South+-+Lithia,+FL+33547&ie=UTF8&t=h&om=1&z=13&ll=27.884301,-82.15971&spn=0.100446,0.159645&iwloc=A" %></p>
      </div>
   </div>
  </div>
