<div class="jumbotron glass center">
<h1><font color="white">Kumquat</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
  <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Meiwa</h2>
      <p>Sweet round fruit that is used in preserves and eaten whole. Tree is compact and very suitable for container growing. Tree is very cold hardy. The fruit is harvested from November to April.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Nagami</h2>
      <p>Fruit is oval, dark orange, very flavorful, tart. It is used in marmalades, cooking and eaten whole. Harvested from November to April. The tree has very compact dense foliage. Very ornimental and does great as a containerized tree. Because of its appearance, this variety is used in landscaping. It is very cold tolerant.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
