<div class="jumbotron glass center">
<h1><font color="white">Kumquat Hybrids</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
  <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Calamondin</h2>
      <p>Fruit is acidic and is used in marmalades, jellies and drinks. Tree is very cold hardy and does very well as a containerized variety. The tree growth is dense and is a very nice as an ornimental tree.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$15.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
  <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Lemonquat</h2>
      <p>Lemon and kumquat hybrid. Fruit is round, yellow with rich lemon flavor. Tree is ornimental, vigorous and productive. Leaves are dark green and dense.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Sunquat</h2>
      <p>Lemon and kumquat hybrid. Fruit is large (for kumquat) with tropical flavor. Fruit has nice yellow color and juicy. Tree is vigorous and productive, although thorny. Leaves are dark green and dense.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
