<div class="jumbotron glass center">
<h1><font color="white">Lemon</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Baboon</h2>
      <p>A Brazilian lemon that has a very intense yellow rind and flesh. The flavor is acidic with almost a hint of lime. Tree is vigorous with large green leaves. Both tree and fruit are beautiful.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Bearss</h2>
      <p>Fruit closely resembles the Lisbon. Very juicy and has a high rind oil content. The leaves are a beautiful purple when first emerging, turning a nice dark green. First found in the Bearss Grove in Lutz, Florida around 1952. Fruit is harvested from June to December.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Eureka</h2>
      <p>Fruit is very juicy and highly acidic. The Eureka originated in Los Angeles, California and is one of their principal varieties. It is the "typical" lemon found in the grocery stores, nice yellow color with typical lemon shape. Harvested November to May.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Harvey</h2>
      <p>Harvey is of unknown parentage, but closely resembles the Eureka. It is very cold tolerant for a lemon variety. Was named for Harvey Smith at a grove in Clearwater, Florida. The leaves are very dense and produces a nice full tree. The fruit is juicy and nicely acidic.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Lisbon</h2>
      <p>Fruit is very juicy and acic. The leaves are dense and tree is very vigorous. This Lisbon is more cold tolerant than the Eureka and is more productive. It is one of the major varieties in California. Fruit is harvested from February to May.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Meyer</h2>
      <p>Considered everbearing, the blooms are very aromatic. It is a lemon and orange hybrid. It is very cold hardy. Fruit is round with a thin rind. Fruit is juicy and has a very nice flavor, with a low acidity.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
    </div>
    <div class="row">
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Nine Pounder Lemon</h2>
      <p>This product was added to our catalog on Monday 08 May, 2006.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Sanbokan</h2>
      <p>A sweet lemon that is juicy and very low in acidity. Growth habit of the tree is very beautiful and willowy. Leaves are dense and dark green. The fruit is harvested from November to May.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Yuzu</h2>
      <p>Very cold hardy variety that can tolerate temperatures down to 23 degrees. Flower is very fragrant, as is the zest and juice. Juice is used to make Ponzu and yuzu vinegar. Yuzu is a very aromatic variety and widely used in culinary cooking. Tree is small but very productive. Leaves are small and ornamental looking.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
  </div>
</div>
