<div class="jumbtron glass center">
<h1><font color="white">Limes</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
      <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Giant Key Lime</h2>
      <p>Considered everbearing, the tree is identical to the Key lime, the only difference being the fruit is large. The tree branches are slender with a lot of thorns. It tends to develop Anthracnose, a fugus and th tree needs to be sprayed with an anti-fungal regularly. Key lime is very sensative to the cold and must be protected.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
        <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Green Australian Finger Lime</h2>
      <p>Australian Finger Lime is also called the "caviar lime" is a thorny tree with small tear drop leaves. The fruit is not typical citrus shaped, as it is a long slender fruit. The pulp vessels are loosely grouped and hold their shape making them a top pick with chefs. The peel is high and oil and very shiny. The Fingerime does not prefer direct sunlight.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
        <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Mexican Key Lime</h2>
      <p>Fruit is small with a very thin peel that is yellow-green when ripe. It is very juicy and highly acidic with a distinct aroma. It is considered somewhat everbearing. The tree branches are slender with a lot of thorns. It tends to develop Anthracnose, a fugus and th tree needs to be sprayed with an anti-fungal regularly. Key lime is very sensative to the cold and must be protected.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Persian</h2>
      <p>Fruit is medium in size and picked when still green. It has a very distinct lime smell. It is juicy and seedless. The tree has less thorns then the Keylime and is more cold tolerant then the Keylime. Although it is not as cold tolerant as lemons.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
        <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Rangpur</h2>
      <p>Fruit is small to medium in size with some seeds. The juice is very acidic. When ripe, the fruit is a dark red-orange color.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
        <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Red Australian Fingerlime</h2>
      <p>Australian Finger Lime is also called the "caviar lime" is a thorny tree with small tear drop leaves. The fruit is not typical citrus shaped, as it is a long slender fruit. The pulp vessels are loosely grouped and hold their shape making them a top pick with chefs. The peel is high and oil and very shiny. The Australian Fingerlime does not prefer direct sunlight.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$25.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>
