<div class="jumbotron glass center">
<h1><font color="white">Mandarins</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Brown Select</h2>
      <p>Tree is slow growing with an open growth habit. Very cold tolerant. Fruit is medium sized with orange flesh that is seedless, rich in flavor and juicy. Fruit does not hold well to tree, but does store well. Clip to harvest. Harvested November to December.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Fina Sodea</h2>
      <p>Seedless Clementine. Tree is medium in vigor and leaves are willowy. Fruit is small with dark orange-red color. Juicy and very flavorful.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Kimbrough Satsuma</h2>
      <p>Kimbrough Satsuma came from an Owari Satsuma, so the fruit is very similar, except tht the fruit is larger and the tree seems to be 1 to 2 degrees more cold tolerant. Fruit is easy peeling with excellent eating quality. Tree has drooping habit and is very cold tolerant.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">King Mandarin</h2>
      <p>Large fruit with deep orange flesh, moderately juicy with rich flavor. Late maturing variety that holds well to the tree. Tree is upright in growth with dark green leaves. Tree is very productive and is cold tolerant, but not as much as most mandarins.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Kinnow</h2>
      <p>Kinnow is a mandarin that is medium in size. Flesh is a deep yellow orange, rich in flavor, very aromatic and juicy. The peel is thin, and not as easy peeling as some mandarins, but not hard to peel. The tree is vigorous with a dark leaves. The tree is fairly cold tolerant.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Kishu</h2>
      <p>Kishu is a very small mandarin that is one of the oldest varieties introduced to Japan. The flesh is orange and very flavorful. It is easy peeling, sweet, juicy and seedless. The tree is vigorous with beautiful open habit.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Owari Satsuma</h2>
      <p>Tree is slow growing with an open growth habit. Very cold tolerant. Fruit is medium sized with orange flesh that is seedless, rich in flavor and juicy. Fruit does not hold well to tree, but does store well. Clip to harvest. Harvested November to December.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Page</h2>
      <p>This product was added to our catalog on Tuesday 17 October, 2006.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Pixie</h2>
      <p>Pixie has a small to medium sized fruit that is easy peeling. Flesh is nicely orange and juicy with a sweet mild flavor. It is seedless and is late in maturity. It holds well to the tree without drying out and becoming puffy. The tree is vigorous with growth somewhat similar to the King Mandarin.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Shiranui</h2>
      <p>AT THIS TIME, THE SHIRANUI IS NOT AVAILABLE FOR OUT OF STATE SHIPMENT, ONLY WITHIN FLORIDA. OUR NEXT CROP OF OUT OF STATE TREES WILL BE READY LATE FALL/EARLY SPRING. A cross between the Kiyomi tangor and Ponkan, the Shiranui is easy peeling, sweet and seedless. The fruit is medium-large in size, with firm flesh. It has a distinctive neck and the peel is a rich orange yellow color. The Shiranui's flavor is a rich mandarin orange honey flavor.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Sugarbelle</h2>
      <p>The Sugarbelle is NOT AVAILABLE FOR SHIPMENT OUT OF THE STATE OF FLORIDA. Sugarbelle is a mandarin hybrid that is a cross between a clementine and the Minneola Honeybell. The fruit is sweet and juicy with a punch. Flesh is dark orange with some seeds. It peels fairly easily. The tree is cold tolerant and is tolerant to Alternaria. The Sugarbelle is NOT AVAILABLE FOR SHIPMENT OUT OF THE STATE OF FLORIDA.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$31.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Temple</h2>
      <p>A tangor, fruit is medium-large, juicy with rich, spicy flavor. Peel is adherent, but easily peeled. Tree has medium vigor and is a little sensative to cold. Harvested January to February.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Xie Shan</h2>
      <p>This product was added to our catalog on Monday 28 October, 2013.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
  </div>
</div>
