<%= render 'layouts/headerII' %>

<div class="home">
  <div class="slide1">
    <div class="bg">
      <div class="center-home">
        <h1>Harris Citrus Nursery</h1>
        <h2>Where Citrus Comes Alive</h2>
        <div class="button2"><c>shop now</c></div>
      </div>
        <div class="middle-buttons buttons-on-bottom">
          <a><%= link_to "Trees", trees_path %></a>
          <a><%= link_to "Shipping & Returns", shiprate_path %></a>
          <a><%= link_to "About Us", about_path %></a>
        </div>
    </div>
  </div>
  <div class="slide2">
      <h2>Hosting one of the largest varieties of citrus trees</h2>
  </div>
  <div class="slide3">
    <h2>The USDA now allows our nursery to ship out of state</h2>
    <h2>Review our shipping info for details</h2>
    <div class="button">here</div>
  </div>
</div>
