<div class="jumbotron glass center">
<h1><font color="white">Pummelo Hybrids</font></h1>
</div>
<div class="jumbotron opqaue">
  <div class="row">
  <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Melogold</h2>
      <p>A Brazilian lemon that has a very intense yellow rind and flesh. The flavor is acidic with almost a hint of lime. Tree is vigorous with large green leaves. Both tree and fruit are beautiful.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Oroblanco</h2>
      <p>A grapefruit and acidless pummelo hybrid. Fruit is large, round and flat at both ends. Very juicy, tender and sweet. Does not hold well to the tree, but does store well. Tree is vigorous with large green leaves.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
  </div>
</div>
