<div class="jumbotron glass center">
<h1><text color="white">Pummello</text></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
<div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Pink Sensation Pummelo</h2>
      <p>Large pear shaped fruit with pink flesh. Very juicy and sweet. Segments hold together well, so it does good in salads and grilling.</p>
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>  
  </div>
</div
