<div class="jumbotron glass center">
  <h1><font color="white">Red Grapefruit</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Flame</h2>
        <p>Dark red seedless grapefruit. Peel is thin with a red blush. Fruit is sweet and juicy. Tree is large with a heavy canopy and bears in clusters.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Ray Ruby</h2>
        <p>Seedless red grapefruit that is slightly lighter than the Flame. The Ray Ruby holds its color late into the season.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Rio Red</h2>
        <p>Fruit is medium in size and picked when still green. It has a very distinct lime smell. It is juicy and seedless. The tree has less thorns then the Keylime and is more cold tolerant then the Keylime. Although it is not as cold tolerant as lemons.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Ruby Red</h2>
        <p>Dark pink seedless grapefruit that is juicy and flavorful. Peel has a slight pink blush. Flesh color will fade somewhat later in the season. It is the most widely grown variety in Florida. Tree is large and productive.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Thompson Pink</h2>
        <p>Pink Marsh Seedless pink grapefruit. Was the first seedless pigmented variety to be discovered. It originated in a grove owned by W.B. Thompson in Oneco, Florida.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
  </div>
</div>