<div class="jumbotron glass center">
<h1><font color="white">Shipping Rates and Returns</font></h1>
</div>
<div class ="jumbotron opaque">
<h2>Shipping rates are the following:</h2>

<h3>1 Tree is a flat rate of $13.00</h3>
<h3>3 Trees are a flat rate of $39.00</h3><br>
<p>We ship our trees on Monday and Tuesdays of each week. We are able to accommodate special requests just let us know when your making your order. Use the comments area during the order process.

Harris Citrus will not be able to have trees returned to the nursery once they are sent out due to the canker compliance requirements that the State of Florida has imposed. If you have a problem with a tree that you have purchased from us you will need to contact us. We in turn will deal with it on a case by case basis.

We cannot ship to Arizona, California, Hawaii, Louisiana and Texas.

If you have any questions about shipping please fee free to call us 813.684.1654.</p>

<p>Thank You,</p>

<h3>Harris Citrus</h3>
</div>
