<div class="jumbotron glass center">
<h1><font color="white">Sweet Orange (Early)</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
  <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Ambersweet</h2>
        <p>A Clementine and Orlando hybrid. Fruit is resembles the Navel as it is easy peeling, juicy with good juicy color and flavor. Harvested October to January. Tree is moderately cold tolerant with nice upright growth habit.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Cara Cara Navel</h2>
        <p>Red Navel Fruit is typical for Navel, easy peeling, sweet and juicy, with red coloring. Color develops well in warm weather. Harvested November to February. Tree is compact and dense in growth habit.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Dream Navel</h2>
        <p>Dream Navel fruit is the smallest of the navels, but with more color quality and flavor. The fruit is medium sized, well colored, rich flavor, juicy, seedless and sweet. The fruit holds well to the tree without losing its internal quality. Harvested from October to January. One of the more popular varieties for dooryard owners. It was founded by D.J. Nicholson of Olrando, Florida.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Early Gold</h2>
        <p>Medium sized fruit, with excellent color and sweet flavor with few or no seeds. Peel is thin and adherent. Tree is vigorous and very productive. One of the best colored of the early varieties.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Glen Navel</h2>
        <p>Fruit is large, seedless, easy peeling, juicy and flavorul. Very similar to the Washington Navel, although a little smaller and a little more heavier bearing. Tree is droopy with rounded top, medium in size and vigor.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Hamlin</h2>
        <p>Medium-small fruit with nice colored flesh, very juicy, few to no seeds, thin rind. Tree is moderately vigorous, cold tolerant and very productive. The Hamlin originated in a grove near Glenwood, Florida and was named for the owner, A. G. Hamlin.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Parson Brown</h2>
        <p>Fruit is medium-large, juicy, some seeds, well flavored. Harvested October to January. Named after the Rev. N.L. Brown near Webster, Florida. Tree is vigorous and productive.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Roble</h2>
        <p>Juicing orange, fruit is medium sized, seedless with good flavor and color. Comes into maturity just after the Parson Brown. Tree is similar to the Parson Brown.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Washington Navel</h2>
        <p>Large fruit that is easy peeling, seedless, juicy and flavorful. It is the most popular variety of the navels. Harvested October to January. Tree is somewhat droopy with rounded top. It is sensitive to heat and aridity during bloom and fruit setting.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
  </div>
</div>
