<div class="jumbotron glass center">
<h1><font color="white">Sweet Orange (Late)</font></h1>
</div>
<div class ="jumbotron opaque">
  <div class="row">
    <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Lane Late Navel</h2>
        <p>Fruit is similar to Washington Navel, but comes in two months later and stays on the tree well without loosing internal quality. Harvested December to March.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Rhode Red Valencia</h2>
        <p>Large fruit that is seedless, juicy with pink to red pigmentation. Valencia is the only variety that carries both the old and new crop on the tree after bloom. Fruit holds well to tree, although regreening can occur late in the season. Tree is somewhat up right, vigorous and prolific.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Valencia</h2>
        <p>Medium-large fruit that is seedless, very juicy, excellent flavor and color. Valencia is the only variety to have both the old and new crops on the tree after bloom. Harvested March to June. Tree is somewhat upright, vigorous and prolific.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
  </div>
</div>
