<div class="jumbotron glass center">
<h1><font color="white">Sweet Orange (Mid)</font></h1>
</div>
<div class="jumbotron opqaue">
  <div class="row">
          <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Midsweet</h2>
        <p>Medium sized fruit that is juicy, good color, excellent flavor. Ripens the same time as the Gardner. Holds well to the tree. Tree is cold tolerant and less susceptible to preharvest fruit drop than Pineapple. Harvested January to March.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
            <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Westin</h2>
        <p>Medium-small fruit that is juicy, has very good color, richly flavored, and seedless. One of the top Brazilian mid-seasoned varieties. Tree is vigorous and very productive.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
  </div>
</div>
