<div class="jumbotron glass center">
<h1><font color="white">Tangerines</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
        <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Murcott</h2>
        <p>Tree has an upright growth habit with dark green leaves. Fruit is small to medium in size, with adherent peel. Flesh is dark orange, very sweet and juicy. Fruit does have seeds. Fruit holds well to the tree.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
              <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Ponkan</h2>
        <p>Also called the Chinese Honey, it has large fruit with ornage color flesh, juicy, with mild pleasant flavor. Tree is vigorous with upright growth habit. Harvested December to January.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
              <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Robinson</h2>
        <p>An Orlando tangelo and clementine hybrid. Fruit is medium-large, easy peeling, with deep yellow-orange flesh. It is juicy, with rich and sweet flavor. It is a heavy producer which can result in limb breakage. Thinning may be required. Harveted October to December. The tree is upright spreading and can have limb adn twig dieback in early years. It is one of the more cold hardy varieties.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
              <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Sunburst</h2>
        <p>A Robinson and Osceola hybrid. Fruit is medium in size, juicy and sweet with dark orange flesh. Peel is thin and brittle, but not hard to peel. Harvested November to December.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
  </div>
</div>
