<div class="jumbotron glass center">
<h1><font color="white">Tangelo</font></h1>
</div>
<div class="jumbotron opqaue">
  <div class ="row">
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Minneola</h2>
        <p>A Duncan and Dancy hybrid also called with "Honeybell". Fruit is bell shaped, juicy, sweet and seedless. Peel is adherant, making it difficult to peel. Harvested December to February. Tree is susceptible to greasy spot and Alternaria requiring a vigorous spray program in spring and early summer to prevent damage to fruit. But with a little bit of work the end results are worth it. Tree is highly cold tolerant.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
            <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Nova</h2>
        <p>A Clementine and Orlando tangelo hybrid. Fruit is medium-large in size, easy peeling, good color, pleasant flavor and juicy. Harvested November to December. Tree is dense with dark green leaves and somewhat up right in habit. Tree is cold tolerant.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Orlando</h2>
        <p>A Duncan and Dancy hybrid. Harvested November to January. Fruit is medium-large, very juicy, good color, sweet, and somewhat easy peeling. Does require extra fertalization in the winter months or it will turn yellow. Tree is soemwhat more cold tolerant than Minneola. Tree has destincitve cupped leaves and spreading in growth habit.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
            <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Osceola</h2>
        <p>Medium sized fruit that is easy to peel once started. Peel is a dark orange to red color at maturity. Flesh is deep orange, juicy with a rich, distinct flavor. Tree is virtually thornless with dense folliage. It is a clementine, Orlando hybrid.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
            <div class="col-md-4">
        <div class="simpleCart_shelfItem">
        <h2 class="item_name">Wekiwa</h2>
        <p>(pink tangelo) Fruit is medium-small in size. Rind is smooth and pale yellow at maturity. Flesh is pink, tender and juicy with a sweet tropical flavor. Tree is less vigorous, but very productive. This is a grapefruit, Sampson tangelo hybrid, so it is actually a tangelo.</p>
        <p><input value="1" class="item_Quantity" type="text"><br>
        <span class="item_price">$20.00</span><br>
        <a class="item_add" href="javascript:;">Add to Cart</a></p>
        </div>
      </div>
  </div>
</div>
