<div class="jumbotron glass center">
<h1><font color="white">Trees</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="center">
     <h2>CATEGORIES</h2>
   </div>
   <div class="row">
    <div class="col-md-4">
      <li><%= link_to "Blood Orange", bloodorange_path %></li>
    </div>
    <div class="col-md-4">
      <h3>Citron</h3>
    </div>
    <div class="col-md-4">
      <h3>Red Grapefruit</h3>
    </div>
    <div class="col-md-4">
      <h3>White Grapefruit</h3>
    </div>
    <div class="col-md-4">
      <h3>Kumquat</h3>
    </div>
    <div class="col-md-4">
      <h3>Kumquat Hybrids</h3>
    </div>
    <div class="col-md-4">
      <h3>Lemon</h3>
    </div>
    <div class="col-md-4">
      <h3>Limes</h3>
    </div>
    <div class="col-md-4">
      <h3>Mandarins</h3>
    </div>
    <div class="col-md-4">
      <h3>Pummelo</h3>
    </div>
    <div class="col-md-4">
      <h3>Pummelo Hybrids</h3>
    </div>
    <div class="col-md-4">
      <h3>Sour Orange</h3>
    </div>
    <div class="col-md-4">
      <h3>Sweet Orange, Early</h3>
    </div>
    <div class="col-md-4">
      <h3>Sweet Orange, Late</h3>
    </div>
    <div class="col-md-4">
      <h3>Sweet Orange, Mid</h3>
    </div>
    <div class="col-md-4">
      <h3>Tangelo</h3>
    </div>
    <div class="col-md-4">
      <h3>Tangerines</h3>
    </div>
  </div>
</div>

