<div class="jumbotron glass center">
<h1><font color="white">White Grapefruit</font></h1>
</div>
<div class="jumbotron opaque">
  <div class="row">
    <div class="col-md-4">
      <div class="simpleCart_shelfItem">
      <h2 class="item_name">Duncan</h2>
      <p>Seedy white grapefrui that is very juicy with excellent flavor. This is the oldest grapefruit variety grown in Florida. It was named after A.L. Duncan of Dunedin, Florida. It is harvested December to May.
      <p><input value="1" class="item_Quantity" type="text"><br>
      <span class="item_price">$20.00</span><br>
      <a class="item_add" href="javascript:;">Add to Cart</a></p>
      </div>
    </div>
  </div>
</div>