// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categoryindex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 100px;
}

.category {
  display: flex;
  height: 300px;
  width: 300px;
  margin: 10px;
  background-color: black;
}
