.navbarnew {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s;
}

potentialbackground {
  background-color: rgba(0, 0, 0, 0.44);
}

.navbarnew a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: 'open sans';
    text-align: center;
  }

  .navbarnew a:visited {
    color: white;
  }

  .navbarnew a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #666;
  }


.navbar-brand {
  height: 76px;
  margin: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.center-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 105px;

  a {
    margin: 0 7px;
  }

  -webkit-transition: all 3s;
}

.middle-buttons a:hover {
  border-bottom: 1px solid white;
}

.display-none {
  display: none;
}

.firstnav {
  display: flex;
  margin-right: 25px;
  color: white;

  i {
    margin: auto 10px;
    font-size: 30px;
  }

}

.firstnav .container {
  height: 86px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  border-bottom: none;
  transition: all .5s;
}

.firstnav .container:hover {
  font-size: 50px;
  background: white;
  border-bottom: 1px solid white;
  margin-bottom: -10px;


  .fa-shopping-cart {
    font-size: 50;
  }

  i {
    font-size: 33px;
    color: black;
  }

  a {
    font-size: 20px;
    color: black;
  }
}

.navbar-after {
  background-color: #25410A;
  -webkit-transition: all 2s;
  transition: all .6s;
}
