.static-header {
  background: url('harrisbackground3.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-attachment: fixed; 
  min-height: 1155px; 
  position: relative;
  margin-top: -72px;
}

.home {
  height: 200%;
}



.header-logo-title {
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 30vw;
  display: block;
  position: relative;
}

.logo-responsive {
  background: url('HClogo.png') center center no-repeat;
  width:500%;
}