.home {
  margin-bottom: 15vw;
}

.slide1 {
  display: block;
  position: relative;
  /*background: url(https://s3.amazonaws.com/HarrisCitrus/harrisbackground3.jpg) no-repeat center center;
  background-size: contain;
  background-position: 50%;
  overflow: hidden;*/
  height: 100vh;
  width: auto;
  top: 0; left: 0;
  right: 0; bottom: 0;
  z-index: 1;
}

.bg {
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.fadeout {
  z-index: -10;
  position: absolute;
  top: 0; left: 0;
  transition: all 2s;
  -webkit-transition: all 2s;
}

.background-slideshow {
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 100%;

  .bg1 {
    background-image: url('https://s3.amazonaws.com/HarrisCitrus/harrisbackground3.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 2s;
    -webkit-transition: all 2s;
    top: 0; left: 0;
  }

  .bg2 {
    background-image: url('https://s3.amazonaws.com/HarrisCitrus/11335167_114112672266213_969168210_n.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 2s;
    -webkit-transition: all 2s;
    top: 0; left: 0;
  }

  .bg3 {
    background-image: image-url('new-slide-3.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 2s;
    -webkit-transition: all 2s;
    top: 0; left: 0;
  }

  .bg4 {
    background-image: url('https://s3.amazonaws.com/HarrisCitrus/10932069_379807885514608_1692832561_n.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 2s;
    -webkit-transition: all 2s;
    top: 0; left: 0;
  }

  .bg5 {
    background-image: url('https://s3.amazonaws.com/HarrisCitrus/12269902_1677098559197144_1600374124_n.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all 2s;
    -webkit-transition: all 2s;
    top: 0; left: 0;
  }

}

.greytopbackground {
  background-color: white;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  height: 100%; width: 100%;
  top: 0; left: 0;
  z-index: -5;
}

.center-home {
  display: flex;
  align-items: center;
  flex-flow: column;
  z-index: 100;
}

.home h1{
  margin-top: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.home .slide1 h2{
  color: #B8BABC;
  margin-top: -8px;
  margin-bottom: 18px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.home .button2 {
  padding: 18px;
  color: white;
  border: 1px solid white;
  transition: all 2s;
    -webkit-transition: all 2s;
}

.home .button2:hover {
  background-color: white;
  opacity: .5;
  color: black;
}

.buttons-on-top {
  display: none;
}

.slide1 .buttons-on-bottom {
  font-family: 'open sans';
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 86px;
  position: absolute;
  bottom: 0; left: 0;

  border-top: 1px solid white;

  a {
    margin: 0 7px;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:-webkit-any-link {
    text-decoration: none;
  }
}

.buttons-on-bottom a:hover {
  background-color: transparent;
  color: #666;
  text-decoration: underline;
}

/* for viewports smaller than bg */
@media (max-width: 905px) {

    .slide1 {
        background-size: 905px 659px; /* Force the image to its minimum width */
    }

}

/* for viewports bigger than background
@media (min-width: 906px) {

    .slide1 {
      background-size:
    }

*/


.slide2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 1265px;
  width: auto;
  margin-top: -75vh;
  margin-bottom: 30vh;
  background-image: image-url('slide2-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container2 {
  height: 30vw;
  width: 36vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: all  1s;
  margin-top: 152px;


  h2 {
    margin-left: 4%;
    font-size: 2.5em;
    line-height: 150%;
  }
}

.containertransformX {
  transform: translateX(-150vw);
}

.tree_trio {
  background-image: url('https://s3.amazonaws.com/HarrisCitrus/treetrio.png');
  height: 33vw;
  width: 35vw;
  background-size: cover;
  display: block;
  position: relative;
  margin-top: 152px;
  left: 150vw;
}

.tree_trio:hover {
    height: 35vw;
    width: 37vw;
}

.slide3 {
  background-image: image-url('harris-in-greenhouse.jpg');
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: auto;
  background-color: white;

}

.slide3 .container {
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;


}

.slide3 .container h2 {
  color: white;
}

.slide4 {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100vw;
}

.slide4 .profile {
  display: flex;
}

.profile-container {
  width: 40vw;
  margin: 10vw;
}

.profile-picture {
  margin: 100px;
  background-color: grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
