<div class="jumbotron glass center strokeme">
<h1><font color="white">Varieties</font></h1>
</div>

<div class="categoryindex">
    <% Category.all.each do |cat| %>
      <div class="category" style="background-image: url(<%= cat.image_url.to_s %>)">

        <h2><%= link_to cat.name.try(:html_safe), category_path(cat) %></h2>
      </div>
    <% end %>
</div>
