<div class="jumbotron glass">
<h1><font color="white"><%= @category.name%></font></h1>
</div>

<div class="jumbotron opaque">
  <% @category.trees.each do |tree|%>
  <h1><%= link_to tree.name.try(:html_safe), category_path %></h1>
  <h2><%= tree.description %></h2>
<li>BTN</li>
  <% end %>

</div>
