<div class="jumbotron glass strokeme">
<h1><font color="white"><%= @category.name%></font></h1>
</div>

<div class="jumbotron opaque">
  <% @category.trees.each do |tree|%>
  <h2><%= link_to tree.name.try(:html_safe), category_path %></h2>
  <div class="description"><%= tree.description %></div>
  <%= button_to 'Add to Cart', line_items_path(tree_id: tree) %>
<% end %>

</div>
